<!-- sidebar -->
<div class="large-4 columns">
    <aside class="secBg sidebar">
        <div class="row">
            <!-- search Widget -->
            <div class="large-12 medium-7 medium-centered columns">
                <div class="widgetBox">
                    <div class="widgetTitle">
                        <h5>Search Videos</h5>
                    </div>
                    <form id="searchform" method="get" role="search">
                        <div class="input-group">
                            <input class="input-group-field" type="text" placeholder="Enter your keyword">
                            <div class="input-group-button">
                                <input type="submit" class="button" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- End search Widget -->

            <!-- most view Widget -->
            <div class="large-12 medium-7 medium-centered columns">
                <div class="widgetBox">
                    <div class="widgetTitle">
                        <h5>Most View Videos</h5>
                    </div>
                    <div class="widgetContent">
                    <% viewestPost.forEach(function(post){ %> 
                        <div class="video-box thumb-border">
                            <div class="video-img-thumb">
                                <img src="<%= post.thumbnail_image %>" alt="most viewed videos">
                                <a href="/single/<%= post.category.title_url %>/<%= post.title_url %>" class="hover-posts">
                                    <span><i class="fa fa-play"></i>Watch Video</span>
                                </a>
                            </div>
                            <div class="video-box-content">
                                <h6><a href="/single/<%= post.category.title_url %>/<%= post.title_url %>"><%= post.title%> </a></h6>
                                <p>
                                    <span><i class="fa fa-user"></i><a href="#">admin</a></span>
                                    <span><i class="fa fa-clock-o"></i><%= moment(post.post_date).format('DD/MM/YYYY') %></span>
                                    <span><i class="fa fa-eye"></i><%= post.views %></span>
                                </p>
                            </div>
                        </div>
                    <% })%>
                    </div>
                </div>
            </div><!-- end most view Widget -->

            <!-- categories -->
            <div class="large-12 medium-7 medium-centered columns">
                <div class="widgetBox clearfix">
                    <div class="widgetTitle">
                        <h5>Categories</h5>
                    </div>
                    <div class="widgetContent clearfix">
                        <ul>
                            <% categories.forEach(function(category){ %>
                            <li class="cat-item"><a href="/category/<%= category.title_url %>" class="btn"><%= category.title %></a></li>

                             <%})%>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- social Fans Widget -->
              
            <!-- End social Fans Widget -->

            <!-- ad banner widget -->
          <!-- end ad banner widget -->

            <!-- Recent post videos -->
            <div class="large-12 medium-7 medium-centered columns">
                <div class="widgetBox">
                    <div class="widgetTitle">
                        <h5>Recent post videos</h5>
                    </div>
                    <div class="widgetContent">
                    <% newestPost.forEach(function(post){ %>
                        <div class="media-object stack-for-small">
                            <div class="media-object-section">
                                <div class="recent-img">
                                    <img src= "<%= post.thumbnail_image %>" alt="recent">
                                    <a href="/single/<%= post.category.title_url %>/<%= post.title_url %>" class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-object-section">
                                <div class="media-content">
                                    <h6><a href="/single/<%= post.category.title_url %>/<%= post.title_url %>"><%= post.title %></a></h6>
                                    <p><i class="fa fa-user"></i><span>admin</span><i class="fa fa-clock-o"></i><span><%= moment(post.post_date).format('DD/MM/YYYY')%></span></p>
                                </div>
                            </div>
                        </div>
                   <% }) %>
                       
                    </div>
                </div>
            </div><!-- End Recent post videos -->

            <!-- tags -->
            <!-- End tags -->
        </div>
    </aside>
</div><!-- end sidebar -->