<section id="verticalSlider">
  <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:0px auto 56px;">
    <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
      <ul class="amazingslider-slides" style="display:none;">
        <% data.posts.forEach(function(post){ %>
            <li>
              <img src="<%= post.preview_image %>" alt="<%= post.title %>" title="<%= post.title %>" />
              <video preload="none" src="<%= post.video_url %>"></video>
            </li>
        <% }); %>
        
      </ul>
      <ul class="amazingslider-thumbnails" style="display:none;">
          <% data.posts.forEach(function(post){ %>
            <li><img src="<%= post.thumbnail_image %>" alt="<%= post.title %>" title="<%= post.title %>" /></li>
          <% }); %>
      </ul>
      <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive JavaScript Slider">Responsive JavaScript Slider</a></div>
    </div>
  </div>
  <!-- End of body section HTML codes -->
</section>