<% layout('../public/partialviews/layout/layoutWeb') %>


            <!-- End Header -->
<section id="verticalSlider">
  <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:0px auto 56px;">
    <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
      
      <ul class="amazingslider-slides" style="display:none;">
         <% featurePosts.forEach(function(post){ %>
            <li>
            <img src="<%= post.preview_image %> " alt="<%= post.title %>" title="<%= post.title %>" />
            <video preload="none" src="<%= post.video_url %>"></video>
          </li>
        <% }) %>
        <li>
       <!--  <img src="/amazingslider/images/EC0zHwqVuYY.jpg" alt="Vì sao người lương thiện cả đời gặp nỗi buồn và trắc trở" title="Vì sao người lương thiện cả đời gặp nỗi buồn và trắc trở" />
          <video preload="none" src="https://www.youtube.com/embed/EC0zHwqVuYY?v=EC0zHwqVuYY"></video>
        </li>
        <li>
          <img src="/amazingslider/images/cffc7VrVCn4.jpg" alt="Xem bói" title="Xem bói" />
          <video preload="none" src="https://www.youtube.com/embed/cffc7VrVCn4?v=cffc7VrVCn4"></video>
        </li>-->
              </ul>
      <ul class="amazingslider-thumbnails" style="display:none;">
        <% featurePosts.forEach(function(post){ %>
          <li><img src="<%= post.preview_image %>"alt="<%= post.title %>" title="<%= post.title %>" /></li>
          <% }) %>
      </ul>
      <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive JavaScript Slider">Responsive JavaScript Slider</a></div>
    </div>
  </div>
  <!-- End of body section HTML codes -->
</section>

<% include index/categorySlider.ejs %>
<section class="mainContentv3">
    <div class="row">
        <!-- Left content--> 
        <% include /index/leftContent.ejs %>
        
        <!-- right content-->
        <% include /index/rightContent.ejs %>
        
    </div>
</section>
<script type='text/javascript'>
		$(function(){
			$('.amazingslider-text-box-1').next().remove();
		});
	</script>