<div class="large-8 columns parentbg">
                        <div class="sidebarBg"></div>
                        <section class="content content-with-sidebar">
                            <!-- newest video -->
                            <div class="main-heading borderBottom">
                                <div class="row padding-14 ">
                                    <div class="medium-8 small-8 columns">
                                        <div class="head-title">
                                            <i class="fa fa-film"></i>
                                            <h4>Bài Mới Đăng</h4>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row column head-text clearfix">
                                        <!-- <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>-->
                                        <div class="grid-system pull-right show-for-large">
                                            <a class="secondary-button grid-default" href="#"><i class="fa fa-th"></i></a>
                                            <a class="secondary-button current grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                            <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                                        </div>
                                    </div>
                                    <div class="tabs-content" data-tabs-content="newVideos">
                                        <div class="tabs-panel is-active" id="new-all" role="tabpanel" aria-hidden="false" aria-labelledby="new-all-label">
                                            <div class="row list-group">
                                                <% newsestPosts.forEach(function(post){ %>
                                                <div class="item large-4 medium-6 columns list">
                                                    <div class="post thumb-border">
                                                        <div class="post-thumb">
                                                            <img src="<%= post.preview_image %>" alt="new video">
                                                            <a href="/single/<%= post.category.code %>/<%= post.title_url %>" class="hover-posts">
                                                                <span><i class="fa fa-play"></i>Xem video</span>
                                                            </a>
                                                            <div class="video-stats clearfix">
                                                                <div class="thumb-stats pull-left">
                                                                    <h6>HD</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-des">
                                                            <h6><a href="/single/<%= post.category.code %>/<%= post.title_url %>"><%= post.title %></a></h6>
                                                            <div class="post-stats clearfix">
                                                                <p class="pull-left">
                                                                    <i class="fa fa-user"></i>
                                                                    <span><a href="#">admin</a></span>
                                                                </p>
                                                                <p class="pull-left">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    <span><%= moment(post.post_date).format('DD/MM/YYYY') %></span>
                                                                </p>
                                                                <p class="pull-left">
                                                                    <i class="fa fa-eye"></i>
                                                                    <span><%= post.views %></span>
                                                                </p>
                                                            </div>
                                                            <div class="post-summary">
                                                                <p><%= post.description %></p>
                                                            </div>
                                                            <div class="post-button">
                                                                <a href="/single/<%= post.category.code %>/<%= post.title_url %>" class="secondary-button"><i class="fa fa-play-circle"></i>Xem video</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="text-center row-btn">
                                        <a class="button radius" href="/list/newest">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    
                        <!-- popular video -->
                        <section class="content content-with-sidebar">
                            <!-- popular Videos -->
                            <div class="main-heading borderBottom">
                                <div class="row padding-14">
                                    <div class="medium-8 small-8 columns">
                                        <div class="head-title">
                                            <i class="fa fa-star"></i>
                                            <h4>Xem nhiều nhất</h4>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row column head-text clearfix">
                                        <!--<p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>-->
                                        <div class="grid-system pull-right show-for-large">
                                            <a class="secondary-button grid-default" href="#"><i class="fa fa-th"></i></a>
                                            <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                            <a class="secondary-button current list" href="#"><i class="fa fa-th-list"></i></a>
                                        </div>
                                    </div>
                                    <div class="tabs-content" data-tabs-content="popularVideos">
                                        <div class="tabs-panel is-active" id="popular-all" role="tabpanel" aria-hidden="false" aria-labelledby="popular-all-label">
                                              <div class="row list-group">
                                                <% viewestPosts.forEach(function(post){ %>
                                                    <div class="item large-4 medium-6 columns list">
                                                    <div class="post thumb-border">
                                                        <div class="post-thumb">
                                                            <img src="<%= post.preview_image %>" alt="new video">
                                                            <a href="/single/<%= post.category.code %>/<%= post.title_url %>" class="hover-posts">
                                                                <span><i class="fa fa-play"></i>Xem video</span>
                                                            </a>
                                                            <div class="video-stats clearfix">
                                                                <div class="thumb-stats pull-left">
                                                                    <h6>HD</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-des">
                                                            <h6><a href="/single/<%= post.category.code %>/<%= post.title_url %>"><%= post.title %></a></h6>
                                                            <div class="post-stats clearfix">
                                                                <p class="pull-left">
                                                                    <i class="fa fa-user"></i>
                                                                    <span><a href="#">admin</a></span>
                                                                </p>
                                                                <p class="pull-left">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    <span><%= moment(post.post_date).format('DD/MM/YYYY') %></span>
                                                                </p>
                                                                <p class="pull-left">
                                                                    <i class="fa fa-eye"></i>
                                                                    <span><%= post.views %></span>
                                                                </p>
                                                            </div>
                                                            <div class="post-summary">
                                                                <p><%= post.description %></p>
                                                            </div>
                                                            <div class="post-button">
                                                                <a href="/single/<%= post.category.code %>/<%= post.title_url %>" class="secondary-button"><i class="fa fa-play-circle"></i>Xem video</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="text-center row-btn">
                                        <a class="button radius" href="/list/viewest">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                         
                        </section><!-- End main content -->

                    </div>