<div class="large-4 columns">
      <aside class="sidebar">
        <div class="sidebarBg"></div>
        <div class="row">
          <!-- search Widget -->
          <div class="large-12 medium-7 medium-centered columns">
            <div class="widgetBox">
              <div class="widgetTitle">
                <h5>Tìm Video</h5>
              </div>
              <form id="searchform" method="post" action='/list/search' role="search">
                <div class="input-group">
                  <input class="input-group-field" type="text" placeholder="Nhập tên video">
                  <div class="input-group-button">
                    <input type="submit" class="button" value="Tìm">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- End search Widget -->
          
          <!-- ad banner widget -->
          <div class="large-12 medium-7 medium-centered columns">
            <div class="widgetBox">
              <div class="widgetTitle">
                <h5>Về STVonline</h5>
              </div>
              <div class="widgetContent">
                <div class="text-left">
                  <p>STV, viết tắt của từ "Seeking Of Timeless Value", nghĩa là "Đi Tìm Giá Trị Vĩnh Hằng".</p>
                  <p>Qua các video, các bài thu âm, STV muốn gởi đến quý khán thính giả những câu chuyện, những chủ đề đáng suy ngẫm trong cuộc sống, với mong ước rằng sẽ mang đến cho quý khán thính giả những giây phút thư giản, bình yên.</p>
                  <p>Cũng mong rằng chúng ta sẽ cùng nhau tìm ra những giá trị lâu bền hơn trong cuộc sống xô bồ này.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end ad banner widget -->
          <!-- most view Widget -->
          <div class="large-12 medium-7 medium-centered columns">
            <div class="widgetBox">
              <div class="widgetTitle">
                <h5>Xem nhiều nhất</h5>
              </div>
              <div class="widgetContent">
              <% viewestPosts.forEach(function(post){ %>
                <div class="video-box thumb-border">
                    <div class="video-img-thumb">
                      <img src="/<%= post.thumbnail %>" alt="most viewed videos">
                      <a href="/single/<%= post.category.code %>/<%= post.title_url %>" class="hover-posts">
                        <span><i class="fa fa-play"></i>Xem video</span>
                      </a>
                    </div>
                    <div class="video-box-content">
                      <h6><a href="/single/<%= post.category.code %>/<%= post.title_url %>"><%= post.title %></a></h6>
                      <p>
                        <span><i class="fa fa-user"></i><a href="#">admin</a></span>
                        <span><i class="fa fa-clock-o"></i><%= moment(post.post_date).format('DD/MM/YYYY')%></span>
                        <span><i class="fa fa-eye"></i><%= post.views %></span>
                      </p>
                    </div>
                  </div>

              <%})%>
               
               
               
              </div>
            </div>
          </div>
          <!-- end most view Widget -->



          <!-- ad banner widget -->
          <div class="large-12 medium-7 medium-centered columns">
            <div class="widgetBox">
              <div class="widgetTitle">
                <h5>Thần Vận - Tuyệt Phẩm Nhân Gian</h5>
              </div>
              <div class="widgetContent">
                <div class="advBanner text-center">
                  <a href="http://vi.shenyunperformingarts.org/"><img src="/public/images/Category/than-van-ad.png" alt="sidebar adv"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end ad banner widget -->

          <!-- Recent post videos -->
          <div class="large-12 medium-7 medium-centered columns">
            <div class="widgetBox">
              <div class="widgetTitle">
                <h5>Bài Ngẫu Nhiên</h5>
              </div>
              <div class="widgetContent">
              <% randomPosts.forEach(function(post){ %>
                  <div class="media-object stack-for-small">
                  <div class="media-object-section">
                    <div class="recent-img">
                      <img src="/<%= post.thumbnail_image %>" alt="recent">
                      <a href="/single/<%= post.category.code %>/<%= post.title_url %>" class="hover-posts">
                        <span><i class="fa fa-play"></i></span>
                      </a>
                    </div>
                  </div>
                  <div class="media-object-section">
                    <div class="media-content">
                      <h6><a href="/single/<%= post.category.code %>/<%= post.title_url %>"><%= post.title %></a></h6>
                      <p><i class="fa fa-user"></i><span>admin</span><i class="fa fa-clock-o"></i><span><%= moment(post.post_date).format('DD/MM/YYYY') %></span></p>
                    </div>
                  </div>
                </div>
              <%})%>
                
              
              </div>
            </div>
          </div>
          <!-- End Recent post videos -->

          <!-- tags -->
          <!-- End tags -->

          <!--Subscribe-->
          <div class="large-12 medium-7 medium-centered columns">
            <div class="widgetBox">
              <div class="widgetTitle">
                <h5>Đăng ký nhận tin</h5>
              </div>
              <div class="widgetContent">
                <form method="post" action='/index/subcribe'>
                  <p>Nhập email của bạn để nhận tin về các video mới đăng.</p>
                  <div class="input">
                    <input type="text" placeholder="Nhập tên của bạn" required>
                                                       
                  </div>
                  <div class="input">
                    <input type="email" id="email" placeholder="Nhập địa chỉ email" required>
                                                        
                  </div>
                  <button class="button" type="submit" value="Submit">Đăng ký ngay</button>
                </form>

              </div>
            </div>
          </div>
          <!--End Subscribe-->
        </div>
      </aside>
    </div>